*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "Times New Roman";
    font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, a, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}
body, button, td, select, textarea, input {
    font: 12px Tahoma,Verdana,Arial,Helvetica,"\5b8b\4f53",sans-serif;
    color: #333;
}
.head-box{
    background-color: #2459a2;
    height: 44px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.head-content{
    width: 1049px;
    height: 44px;
    line-height: 44px;
    margin:0 auto;
    position: relative;
}
.main-content-box{
    clear: both;
    background-color: #ededed;
    padding-top: 44px
}
.main-content{
    width: 988px;
    margin: 0 auto;
    overflow: hidden;
    height: auto!important;
    min-height: 1500px;
    padding: 6px 28px 60px;
    background-color: #fff;
}
.content-list{
    position: relative;
}
.content-list .item{
    clear: both;
    border-bottom: 1px solid #dce7f4;
    overflow: hidden;
    position: relative;
}
.content-list .item .news-content{
    padding-top: 1px;
}
.show-content{
    display: block;
    width: 786px;
}
.content-list .item .news-content .part1{
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
}
.content-list .item .news-content .part1 a:link{
    color: #396bb3 !important;
}
.content-list .item .news-content .part1 a:visited{
    color: #396bb3 !important;
}
.share-site-to i{
    vertical-align: 4px;
    margin-right: 5px;
}
.share-site-to .share-icon{
    vertical-align: 2px;
}
.share-site-to .share-icon a.icon-douban {
    background-position: 0 -105px;
}
.share-site-to .share-icon a.icon-qqzone {
    background-position: 0 -120px;
    width: 16px;
    height: 14px;
}
.share-site-to{
    float: right;
}
.share-site-to .share-icon a.icon-renren {
    background-position: 0 -151px;
}
.share-site-to .share-icon a {
    background: url(../img/share_icon.png) no-repeat 0 0;
    width: 13px;
    height: 13px;
    display: inline-block;
    _display: inline;
    margin-right: 7px;
    margin-top: 2px;
    opacity: .3;
    filter: alpha(opacity=30);
}
.share-site-to .share-icon a.icon-sina{
    background-position: 0 -90px;
    width: 17px;
    height: 14px;
}
.discus-a{
    margin-left: 1px;
    margin-right: 45px;
    width: 20px;
}
.discus-b{
    margin-left: 20px;
    margin-right: 45px;
    width: 20px;
}
.discus-c{
    margin-left: 20px;
    margin-right: 45px;
    width: 20px;
}
.content-list .item .news-content .area-summary{
    font-size: 14px;
    color: #787878;
    margin-top: 3px;
    font-family: Arial,Helvetica,sans-serif;
}
.item .news-content .part2{
    padding-top: 12px;
    color: #ccc;
    margin-bottom: 6px;
}
.summary{
    display: block;
    padding-top: 8px;
    width:789px;
}
.head-content .logo{
    display: inline-block;
    width: 121px;
    height: 23px;
    float: left;
    margin-top: 11px;
}
.head-content .action-menu{
    float: left;
    margin-left: 10px;
}
.head-content .action-menu a.tb{
    display: inline-block;
    margin-left: -3px ;
    padding: 0 16px 0 13px;
    color: whitesmoke;
}
.head-content .action-menu a.tb:hover{
    color: white;
    background-color: #396bb3;
}
.head-content .action-menu a.active,.head-content .action-menu a.active:hover{
    color: white;
    background-color: #204982;
}
.key-search{
    float: right;
    margin-top: 5px;

}
.key-search .search-txt{
    float: left;
    width: 120px;
    height: 25px;
    padding: 2px 2px 2px 5px;
}
.key-search a{
    display: inline-block;
    width: 31px;
    height: 32px;
    background-color: #f4f4f4;
}
.key-search a span.ico{
    background-position: 0 -195px;
    display: block;
    height: 12px;
    margin-left: 11px;
    margin-top: 9px;
    width: 11px;
}
.ico {
    background: url(../img/icon.png) no-repeat 0 0;
}
.action-nav{

    position: absolute;
    right: 160px;
}
.action-nav a{
    display: inline-block;
    height: 44px;
    color: white;
    margin: 0 5px;
    padding: 0 20px;
}
.action-nav a:hover{
    background-color: #396bb3;
}
.module-login-mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
.module-login-container{
    height: 375px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -188px;
}
.box-register{
    position: relative;
    width: 350px;
    z-index: 100;
    padding-left: 350px;
    margin: auto;
    height: 375px;
    border-radius: 0 5px 5px 0;
}
.box-login {
    position: absolute;
    width: 350px;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 5px 0 0 5px;
}
.module-login-container .header {
    background: #e7ecf2;
    padding: 0px 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #abb6d2;
    position: relative;
}
.body-register {
    border-left: 1px dotted #808080;
    margin-left: -1px;
}
.module-login-container .header {
    background: #e7ecf2;
    padding: 0px 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #abb6d2;
    position: relative;
}
.body-register, .body-login {
    background: white;
    height: 345px;
    width: 350px;
}
.box-register .btn-close {
    cursor: pointer;
}
.dialog-btn-close {
    background-position: 0 -499px;
    width: 15px;
    height: 15px;
    display: block;
}
.pub-btn-valid {
    background-position: 0 -99px;
}
.module-login-mask .pr {
    position: relative;
}
.box-mobilelogin div{
    margin-bottom: 20px;
}
.box-mobilelogin input{
    width: 196px;
    padding: 6px;
    border: 1px solid #CDDDEF;
    font-weight: bold;
}
div {
    display: block;
}
.box-mobilelogin, .box-register-mobile {
    position: relative;
    padding: 70px 35px 0 60px;
}
.box-btn{
    padding-left: 60px;
}
.box-register .btn {
    text-align: center;
    cursor: pointer;
}
.pub-btn {
    border-radius: 10px;
    width: 60px;
    height: 31px;
    line-height: 31px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 700;
}
.pub-icons {
    background-color: #0a68b4;
}
.module-login-mask .pr {
    position: relative;
}
 .box-register-mobile div {
    position: relative;
    margin-bottom: 20px;
}
.box-mobilelogin input, .box-idlogin input, .box-register-mobile input, .box-register-detail input {
    width: 196px;
    padding: 6px;
    border: 1px solid #CDDDEF;
    font-weight: bold;
}
.pass-button{
    height: 30px;
    width: 50px;
    color: #8c96a0;
    text-shadow:1px 1px 1px #fff;
    border: 1px solid #dce1e6;
    box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
    background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.add-form{
    margin:0 auto;
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.form-biaoti{
    width: 300px;
    height: 65px;
}
.form-type{
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 75px;
    height: 26px;
}
.form-zhaiyao{
    width: 400px;
    height: 65px;
}
.form-id{
    width: 150px;
    height: 26px;
}
.form-add{
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 145px;
    height: 26px;
}
