<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminDao">
<resultMap type="Admin" id="adminResultMap" >
<id property="id" column="id"/>
<result property="username" column="username"/>
<result property="password" column="password"/>
</resultMap>
<select id="queryAdmin" resultType="Admin" parameterType="Admin">
select id,username,password
from admin
where username=#{username} and password=#{password}
</select>
</mapper>